html {
	font-size: 20px;
}
.info{
	margin-top: .8rem;
	border-top: 1px solid #ddd;
}
.info p {
	text-align: center;
	margin: .5rem auto;
}

.infoTop,.infoBottom{
	display: flex;
	margin:10px 0 0 60px;
}

.infoTop p,.infoBottom p{
	flex: 1;
}

@media screen and (max-width: 650px){
	.info {
		font-size: 0.5rem;
	}

	.infoTop,.infoBottom {
		margin-left: 0;
	}
}