
html {
	font-size: 20px;
}

.meanSearchs {
	width: 100%;
	margin: 0 auto;
	display: flex;
	/*margin-left: 22%;*/
}

.searchInput {
	border-bottom: 0;
	border: 0;
	border: 1px solid #ddd;
	flex: 1;
}

.look {
	width: 80px;
	margin-left: 20px;
}



/*------------健康查询样式--------------*/
.hsSearch {
	border:0;
}

.hsTable {
	width: 70%;
	margin: 0 auto;
}


/*------------方案室顶部组件响应式样式--------------*/

@media screen and (max-width: 820px){
	.meanSearchs {
		width: 90%!important;
		margin-left: 5%!important;
	}

	.look {
		margin-left: 0.5rem;
		padding:0 0.2rem!important;
	}
}