.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

/*----------------------------------------------*/

.pjContent {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.pjContent b{
	font-size: 16px;
}

.pjContent .pjStar span, .pjContent .pjStar i {
	font-size: 16px;
}

.pjArea {
	margin:20px 0 15px 0;
	height:300px;
	text-indent: 20px;
	width: 100%;
}

.pjPeople {
	
	font-weight: normal;
	float: right;
}

.pjContent .pjPost {
	
	width: 100%;
}
.mar-b{
	margin-bottom: 10px;
}
@media screen and (max-width: 640px){
	.col{
		/*float:left;*/
		display: block;
		margin-left:0!important;
		width:100%!important;
	}
	.pjPeople{
		float: none;
		display: block;
	}
}